APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:W9jpr1kIusx5V3hk++FlpoSMk/YM4B1UIIwDf4ZkuIs=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=acms-drive
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

GOOGLE_CLIENT_ID=515229622315-o10d4n05titrujalt5aiet42uet23vrl.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REFRESH_TOKEN=1//04XC5pfNSAlMQCgYIARAAGAQSNwF-L9Irkh-S3gyPZjY0Bb4qOGGWHxFxW--VQ57LnTzw_hiT69xk87C9uShc8dInage5ursIt6Y
GOOGLE_DRIVE_FOLDER_ID=1ewFWi65LbWGTyaPUfAdsXz_hzAJNA-qt